# dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript incremental cache
tsconfig.tsbuildinfo
next-env.d.ts.bak

# local env files
.env
.env*.local

# Vercel
.vercel

# OS / editor
.DS_Store
*.log
